{% extends "base.html" %}{% block content %}    

    <div class="row">
      <div class="large-12 columns">
        <h4 class="subheader">ENGL2043</h4>
        <h1>Postmodernism</h1>
        <h6>Semester 1, 2014</h6>
        <h6>Coordinated by Nick Riemer | <a href="#">Official Link</a></h6>
      </div>
    </div>
    
    <div class="row">
      <div class="small-12 medium-8 columns">
        <div class="row">
            <div class="small-12 columns">
                <div class="panel">
                    <h3>The Official Description</h3>
                    <p>Insert a wonderfully long paragraph detailing, dispassionately, the worth of this subject.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="small-12 columns">
                <div class="panel">
                    <h3>Our Review</h3>
                    <p>Insert a wonderfully long paragraph detailing, dispassionately, the worth of this subject. Insert a wonderfully long paragraph detailing, dispassionately, the worth of this subject. Insert a wonderfully long paragraph detailing, dispassionately, the worth of this subject. Insert a wonderfully long paragraph detailing, dispassionately, the worth of this subject. Insert a wonderfully long paragraph detailing, dispassionately, the worth of this subject. Insert a wonderfully long paragraph detailing, dispassionately, the worth of this subject. Insert a wonderfully long paragraph detailing, dispassionately, the worth of this subject.</p>
                </div>
            </div>
        </div>
      </div>
      <div class="small-12 medium-4 columns">
        <div class="panel">
          <h3>Notes</h3>
          <p>These notes were submitted by students. Show your appreciation by not plagiarising. That would be stupid.</p>
          <ul>
            <li><a href="#">Summary Notes [pdf]</a></li>
            <li><a href="#">Theory and Practice [pdf]</a></li>
            <li><a href="#">Last Years Course Outline [pdf]</a></li>
            <li><a href="#">An Additional Note [pdf]</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row">
        <div class="small-12 large-8 columns" >
          <div class="callout panel">
            <h6>Did we get it wrong?</h6>
            <a href="#" class="medium rounded button">Have your say!</a>
          </div>
        </div>
    </div>

{% endblock %}
